/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
body {
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}


/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
	text-transform: uppercase;
	@include rem((
		font-size: 20px,
		letter-spacing: 0.5px,
		margin-bottom: 20px
	));
}


/**
 * A generic style to get rid of outlines.
 */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
	outline:0px !important;
	-webkit-appearance:none;
}
