/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin square($width) {
	@include size($width, $width);
}

@mixin circle($width) {
	@include size($width, $width);
	border-radius:50%;
	overflow:hidden;
}

@mixin font-size($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}
