/*------------------------------------*\
    $ATHLETE
\*------------------------------------*/
.athlete {}

.athlete-intro {
	text-align: center;
	font-size: 0.8125rem;
	h1 {
		font-size: 1.063rem;
		text-transform: uppercase;
	}
}
