/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/


// Global styles
//=======================================
.slick-dots {
	line-height: 0;
	margin-bottom: 0;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	@include list-unstyled();
	li {
		//opacity: 0.5;
		display: inline-block;
		line-height: 0;
		@include square(20px);
		&.slick-active {
			button:after {
				background-color: rgba($white, 1);
			}
		}
	}
	button {
		font-size: 0;
		border: none;
		background: transparent;
		padding: 0;
		position: relative;
		outline: none;
		@include square(100%);
		&:after {
			content: '';
			position: absolute;
			top: 5px;
			right: 5px;
			background-color: rgba($white, 0.5);
			transform-origin: center;
			transform: skew(-$skew);
			//z-index: -1;
			@include square(10px);
		}
	}
}

.slick-prev,
.slick-next {
	font-size: 0;
	border: none;
	background: transparent;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	z-index: 1;
	@include hover-focus-active {
		outline: none;
	}
	@include square(40px);
	&:after {
		font-family: $font-icon;
		color: $white;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		@include font-size(30px, 40px);
		@include square(100%);
	}
}

.slick-prev {
	left: -45px;
	&:after {
		content: '\e801';
	}
}

.slick-next {
	right: -45px;
	&:after {
		content: '\e800';
	}
}

.carousel-wrapper {
	position: relative;
	.arrows {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

// Home / Headlines
//=======================================
.home #headlines .carousel-wrapper {
	position: relative;
	.dots {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		//z-index: 1;
	}

	.slick-dots {
		position: static;
		text-align: right;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}

// Home/News
//=======================================
.home #news .carousel-wrapper {
	.arrows {
		padding-top: 75%; /* 4:3 */
		@include media-breakpoint-up(md) {
			padding-top: 37.5%;
		}
	}
}

// Home/Services
//=======================================
.home #services {
	.carousel {
		padding-bottom: 85px;
	}
	.slick-prev,
	.slick-next {
		top: 20px;
	}
	.slick-dots {
		bottom: 35px;
	}
}

// Home/Athletes
//=======================================
.home #athletes {
	.carousel {
		padding-bottom: 85px;
	}

	.carousel-wrapper {
		.arrows {
			padding-top: 75%; /* 4:3 */
			@include media-breakpoint-up(md) {
				padding-top: 37.5%;
			}
		}
	}

	.slick-dots {
		bottom: 35px;
	}
}

// Blog/ Latest Posts
//=======================================
.blog #latest-posts {
	.carousel {
		padding-right: 40px;
		@include media-breakpoint-up(md) {
			padding-left: 40px;
		}
	}
	.slick-prev {
		left: 0;
		display: none!important;
		@include media-breakpoint-up(md) {
			display: block!important;
		}
	}
	.slick-next {
		right: 0;
	}
}

// Detail/ Athletes Details
//=======================================
.slick-prev,
.slick-next {
	&:after {
		color: $red-dark;
	}
}
