/*------------------------------------*\
    $FEATURED
\*------------------------------------*/

.featured {
	// Home / Headlines
	//=======================================
	.home #headlines & {
		display: table;
		height: $headline-height-1;
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 60px;
		@include media-breakpoint-up(lg) {
			padding-bottom: 100px;
		}

		@include media-breakpoint-up(md) {
			//480px and up
			height: $headline-height-2;
		}

		@include media-breakpoint-up(lg) {
			//1024px and up
			height: $headline-height-3;
		}

		> div {
			display: table-cell;
			vertical-align: bottom;
		}

		.title {
			color: $white;
			font-size: 1.25rem; //20px
			line-height: 24px;
			letter-spacing: 0.5px;
			text-align: right;
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				font-size: 1.813rem; //29px
			}
		}
	}

	// Home / News
	//=======================================
	.home #news & {

		.date {
			margin-bottom: 0;
		}

		.title {
			font-size: 1rem;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.excerpt {
			margin-bottom: 5px;
		}

		.read-more {
			font-weight: 700;
			font-size:  0.8125rem; //13px
			text-transform: uppercase;
		}
	}

	// Home / Services
	//=======================================
	.home #services & {
		padding-top: 0;
		.title-wrapper {
			display: table;
			width: 100%;
			height: ($headings-line-height * 16px) * 2; // two lines of min height
		}
		.title {
			display: table-cell;
			vertical-align: middle;
			font-size: 1rem;
			text-transform: uppercase;
			position: relative;
			padding: 0 43px 10px;
			&:before {
				content: attr(data-order);
				position: absolute;
				top: 0;
				left: 0;
				font-size: 1.438rem;
				text-align: right;
				padding: 3px 15px 0 0;
				display: block;
				background: url('../../src/img/angle.svg') right bottom no-repeat;
				@include size(40px, 30px);
			}
		}

		.read-more {
			font-weight: 700;
			font-size:  0.8125rem; //13px
			text-transform: uppercase;
		}

	}

	// Home / Athletes
	//=======================================
	.home #athletes & {
		text-align: center;

		.img-wrapper {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100px;
				height: 100%;
				background: linear-gradient(to right bottom, rgba($red-dark,0.8) 50%, transparent 50%);
			}

			.category {
			    font-size: 0.8125rem;
				position: absolute;
				top: 5px;
				left: 5px;
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}

		.category {
			position: absolute;
			top: 0;
			left: 0;
		}


		.title {
			font-size: 1.125rem;
			text-transform: uppercase;
		}
	}
}
