/*------------------------------------*\
    $POST
\*------------------------------------*/
.post {
	margin-bottom: 70px;
}

.post-image {
	margin-bottom: 20px;
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
}

.post-category {
	text-transform: uppercase;
	border-bottom: 1px solid $black;
}
.post-title {
	font-size: 1.063rem;
}

.post-date {
	font-size: 0.8125rem;
	color: $red-dark;
}

.post-body {
	font-size: 0.875rem;
	> *:last-child {
		margin-bottom: 0;
	}
}


#latest-posts {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 20px;
		background-color: $red-dark;
		width: 120%;
		height: 100%;
		transform: skew(-$skew);
		@include media-breakpoint-up(md) {
			left: 50%;
		}
	}
}

