/*------------------------------------*\
    $SECTION
\*------------------------------------*/

.section {
	padding: 15px 0;
	font-size: 0.875rem; //14px
	@include media-breakpoint-up(lg) {
		//1024px and up
		padding: 25px 0;
	}

	&#news {
		overflow: hidden;
		>.container {
			position: relative;
		}

		.paralelogram {
			display: none;
			width: 100%;
			height: 90%;
			background: $red-dark;
			position: absolute;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%) skew(-26deg);
			@include media-breakpoint-up(md) {
				//480px and up
				display: block;
			}
			@include media-breakpoint-up(lg) {
				//1024px and up
				bottom: -25px;
			}
		}
	}
}
.section__header {
	text-align: center;
	h2 {
		font-size: 1.25rem;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		margin-bottom: 20px;
	}
	// Home / Athletes
	//=======================================
	.home #athletes & {
		h2 {
			margin-bottom: 15px;
		}
	}
}

#athlete-media {
	background: url('../../src/img/bg_profile_sm.jpg') center top no-repeat;
	@include media-breakpoint-up(md) {
		//480px and up
		background: url('../../src/img/bg_profile_md.jpg') center top no-repeat;
	}

	@include media-breakpoint-up(lg) {
		//1024px and up
		background: url('../../src/img/bg_profile_lg.jpg') center top no-repeat;
	}

	.tab-content-container {
		@include media-breakpoint-up(md) {
			@include make-container();
			@include make-container-max-widths();
		}
	}
}
