/*------------------------------------*\
    $SOCIALS LIST
\*------------------------------------*/
.socials-list {
	@include list-unstyled();
	@include clearfix();
	margin: 0;
	> li {
		display: inline-block;
		//float: left;
	}


	// Site Header
	//=======================================
	#site-header & {
		float: right;
		a {
			display: inline-block;
			text-align: center;
			color: $white;
			@include square($height-nav-1);
			@include font-size(14px,$height-nav-1);

			// give the slanted appearence
			position: relative;
			z-index: 1;
			&:after {
				content: '';
				position: absolute;
				top: 11px;
				right: 5px;
				background-color: $red;
				transform-origin: center;
				transform: skew(-$skew);
				z-index: -1;
				@include size(33px, 21px);
				@include media-breakpoint-up(lg) {
					//1024px and up
					top: 7px;
					right: 3px;
					@include size(33px, 27px);
				}
			}

		}
	}

	// Home/Site Footer
	//=======================================
	.home #site-footer & {
		text-align: center;
		margin-bottom: 20px;
		a {
			color: $white;
			font-size: 25px;
			@include hover-focus {
				color: $white;
			}
		}
	}

	// Blog/Site Footer
	//=======================================
	.blog #site-footer &,
	.detail #site-footer & {
		text-align: right;
		a {
			color: $white;
			font-size: 25px;
			line-height: 50px;
			@include hover-focus {
				color: $white;
			}
		}
	}

	// Detail/Athlete Intro
	//=======================================
	.detail .athlete-intro & {
		a {
			font-size:  1.875rem;
		}
	}

}
