/*------------------------------------*\
    $404
\*------------------------------------*/
.error404 {
	/* Fixed footer */
	margin-bottom: 48px;
	.page-foot {
		position: absolute;  bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 48px;
	}
}


