/*------------------------------------*\
    $BLOG
\*------------------------------------*/

.blog {
	/**
	 * Latest posts.
	 *
	 */

	#latest-posts {
		overflow: hidden;
		&,
		a {
			color: #fff;
		}

		.box-right {
			background-color: $red;
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 999em;
				top: 0;
				bottom: 0;
				right: -999em;
				background-color: $red;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: $red;
				transform-origin: 100% 0;
				transform: skewX(-21deg);
				z-index: -1;
			}
		}

		.slick-prev {
			display: none!important;
			@include media-breakpoint-up(md) {
				display: block!important;
			}
		}
	}

	//#latest-posts {
	//	&,
	//	a {
	//		color: #fff;
	//	}
    //
	//	.wrapper {
	//		position: relative;
	//		background-color: $red;
	//		@include rem((
	//			padding-left: 40px,
	//			padding-top: 8px,
	//			padding-bottom: 8px,
	//		));
	//	}
    //
	//	.edge {
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		bottom: 0;
	//		@include rem(width, 30px);
	//		overflow: hidden;
	//		&:before {
	//			content: '';
	//			position: absolute;
	//			top: 0;
	//			right: 0;
	//			width: 100%;
	//			height: 100%;
	//			background-color: #fff;
	//			transform-origin: 100% 0;
	//			transform: skew(-18deg);
	//		}
	//	}
    //
	//}

}
