/*------------------------------------*\
    $ATHLETES GRID
\*------------------------------------*/
.athletes-grid {

}

	.athletes-grid__row {
	}

	.athletes-grid__item {

		@include media-breakpoint-up(md) {
			width: 165px;
			float: left;
			@include rem((
				margin-right: 24px,
			));
		}

		&:nth-child(2n) {
			@include media-breakpoint-only(md) {
				margin-right: 0;
			}
		}

		@include media-breakpoint-up(lg) {
			width: 236px;
			float: left;
			@include rem((
				margin-right: 66px,
			));
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}


