/*------------------------------------*\
    $HEADLINE
\*------------------------------------*/
.headline {
	position: relative;
	background-size: cover;
	background-position: center;
	height: 480px;
	@include media-breakpoint-up(md) {
		height: 320px;
	}

	@include media-breakpoint-up(lg) {
		height: 512px;
	}
}

	.headline__text {
		text-align: right;
		position: absolute;
		right: 0;
		@include rem((
			bottom: 50px,
			padding-right: 15px
		));
		@include make-col-span(10, 12);

		@include media-breakpoint-up(md) {
			@include rem((
				padding-right: 40px,
			));
			@include make-col-span(7, 12);
		}

		@include media-breakpoint-up(lg) {
			@include rem(bottom, 70px);
		}

		h1 {
			color: #fff;
			@include rem(font-size, 20px);
			@include media-breakpoint-up(md) {
				@include rem(font-size, 25px);
			}
			@include media-breakpoint-up(lg) {
				@include rem(font-size, 29px);
			}
		}
	}
