/*------------------------------------*\
    $LANGUAGES-NAV
\*------------------------------------*/

.languages-nav {
	/**
     * If the languages nav exists in a page head, we absolutely position it,
     * 10px to the left of the menu toggle.
     */
	.page-head & {
		position: absolute;
		@include rem((
			top: 5px,
			left: 63px //15px + 38px + 10px
		));

		@include media-breakpoint-up(lg) {
			position: static;
			float: left;
		}
	}
}

	.language-chooser {
		margin-bottom: 0;
		@include list-unstyled();
		@include clearfix();
		> li {
			float: left;
			text-transform: uppercase;
			color: #fff;
			@include rem(font-size, 13px);
			line-height: 2.9230769231;
			font-weight: 300;
			+ li:before {
				content: '\002F';
			}
			@include media-breakpoint-up(lg) {
				color: #000;
			}

			&.active {
				a {
					color: #fff;
					opacity: 1;
					@include media-breakpoint-up(lg) {
						color: #000;
						font-weight: normal;
					}
				}
			}

			a {
				float: right;
				color: #fff;
				opacity: 0.5;
				display: block;
				text-align: center;
				transition: opacity $links-duration;
				@include rem(width, $height-page-header);
				@include rem(height, $height-page-header);
				line-height: inherit;
				@include media-breakpoint-up(lg) {
					color: #000;
				}
				@include hover-focus-active {
					text-decoration: none;
					opacity: 1;
				}
			}
		}
	}
