/*------------------------------------*\
    $POST
\*------------------------------------*/
.post {
	.updated:not(.published) {
		display: none;
	}

	.posted-on {
		display: block;
		color: $red;
		opacity: 0.5;
		@include rem((
			font-size:15px,
			margin-bottom: 16px
		));
	}

}

	.post__main-photo {
		@include rem(margin-bottom, 15px);
	}

	.post__header {}

		.post__category {
			list-style-type: none;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #000;
			@include rem((
				margin-bottom: 8px,
			));
			> li {
				@include rem((
					font-size: 16px,
					padding-bottom: 5px
				));
				text-transform: uppercase;

				display: inline-block;
				& + li {
					@include rem((
						margin-left: 10px
					));
				}
			}
		}

		.post__title {
			@include rem((
				font-size: 17px,
				letter-spacing: 0.5px,
				margin-bottom: 5px
			));
			@include media-breakpoint-up(lg) {
				@include rem(font-size, 25px);
			}
		}

	.post__body {
		font-weight: 300;
	}
