/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/

.site-nav {
	color: #fff;
	@include media-breakpoint-up(lg) {
		float: left;
	}
}

	.site-nav__home {}

	.site-nav__toggle {
		@include rem((
			height: $height-page-header
		));
		@include media-breakpoint-up(lg) {
			display: none;
		}

		.page-head-is-fixed & {
			.tcon-menu__lines {
				&,
				&:before,
				&:after {
					background: #2d2d2d;
				}
			}

			&.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
				background: transparent;
			}
		}
	}

	.site-nav__list {
		max-height: 0;
		overflow: hidden;
		background-color: $red;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		transition: max-height 0.2s;

		@include rem((
			top: $height-page-header + 10px,
		));

		ul {
			@include list-unstyled();
			margin-bottom: 0;
			@include rem((
				padding-top: 20px,
				padding-bottom: 20px,
			));
			@include media-breakpoint-up(lg) {
				padding: 0;
			}
		}

		@include media-breakpoint-up(lg) {
			max-height: none!important;
			position: static;
			float: left;
			background-color: transparent;
		}
	}

		.site-nav__item {
			@include media-breakpoint-up(lg) {
				display: inline-block;
			}
		}

			a.site-nav__link {
				display: block;
				font-weight: 300;
				color: #fff;
				text-transform: uppercase;
				line-height: 2.9230769231; // 38px/13px
				padding-left:  ($grid-gutter-width / 2);
				padding-right: ($grid-gutter-width / 2);
				opacity: 0.5;
				transition: opacity $links-duration;
				@include rem((
					width: 100%,
					height: $height-page-header,
					font-size: 13px
				));

				@include media-breakpoint-up(lg) {
					color: #000;
				}

				@include hover-focus-active {
					text-decoration: none;
					opacity: 1;
				}

			}



			@each $page in home, news, services, athlete {

				.page--#{$page} .site-nav__item--#{$page} a {
					font-weight: normal;
					opacity: 1;
				}

			}

