/*------------------------------------*\
    $SOCIAL
\*------------------------------------*/

.social {
	margin-bottom: 0;
	@include list-unstyled();

	/**
     * If the languages nav exists in a page head, we absolutely position it,
     * at the top right.
     */
	.page-head & {
		position: absolute;
		@include rem(top, 5px);
		right: $grid-gutter-width/2;
		@include media-breakpoint-up(lg) {
			position: static;
			float: left;
		}
	}

	/**
     * If the languages nav exists in a page head, we absolutely position it,
     * at the top right.
     */
	.page-foot & {
		@include rem((
			padding-top: 5px,
			padding-bottom: 5px,
		));
	}

}
	.social__item {
		display: inline-block;
	}
		.social__link {
			color: #fff;
			text-align: center;
			padding: 0;
			border: 0;
			@include rem((
				font-size: 30px,
				width: 48px,
				height: 48px
			));

			line-height: 1.6; // 48px/30px
			display: inline-block;
			&:before {
				font-family: $font-family-icons;
				line-height: inherit;
			}

			/**
     		* If the social nav exists in a page head, the buttons cosmetic changes.
     		*/
			.page-head & {
				@include rem((
					width: 38px,
					height: 38px,
					font-size: 16px
				));

				line-height: 2.375; // 38px/16px
				&:before {
					@include rem(font-size, 13px); // the icon goes smaller
				}
				&:after {
					// give some room around the slated bg, but keeping the 38px tapping area
					@include size(60%, 60%);
					top: 22%;
					left: 22%;
				}
			}

			/**
     		* If the social nav exists in a page head, the buttons cosmetic changes.
     		*/
			.page-foot & {
				@include rem((
					font-size: 25px,
					width: 38px,
					height: 38px
				));
				line-height: 1.52; // 38px/25px
			}

		}

		.social__link--facebook {
			&:before {
				content: '\f09a';
			}
		}

		.social__link--linkedin {
			&:before {
				content: '\f0e1';
			}
		}

		.social__link--twitter {
			&:before {
				content: '\f099';
			}
		}

		.social__link--gplus {
			&:before {
				content: '\f0d5';
			}
		}

		.social__link--youtube {
			&:before {
				content: '\f167';
			}
		}

		.social__link--instagram {
			&:before {
				content: '\f16d';
			}
		}

		.social__link--facebook-squared {
			&:before {
				content: '\f308';
			}
		}
